{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" id="welcome-banner" style="margin-top:4%;margin-bottom:4%;">
    <h1>Tool Share Platform</h1>
    <p class="lead">The Tool Share product is intended to improve communities by providing an easy mechanism for sharing items between neighbors.
    <br />This product primarily consist of tool exchanges but its implementation allows it to easily extended to include items of different kinds. </p>
</div>

<h1>You are Logged in!</h1>

{% endblock %}